<h2 ng-if="$ctrl.isNew"><i>Create</i> an invoice</h2>
<h2 ng-if="$ctrl.canReview"><i>Review</i> an invoice</h2>
<h2 ng-if="!$ctrl.canEdit"><i>Read</i> an invoice</h2>

<div class="well well-lg">
	<h3>Details</h3>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>File upload</th>
				<th>Service date</th>
				<th>Vendor</th>
				<th>Invoice #</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					<input type="file" accept="image/*,application/pdf">
				</td>

				<td>
					<input
						ng-if="$ctrl.canEdit",
						type="date"
						ng-model="$ctrl.Invoice.serviceDate"/>
				</td>

				<td>
					<select
						ng-if="$ctrl.canEdit",
						ng-model="$ctrl.Invoice._vendor"
						ng-options="vendor._id
							as vendor.name
							for vendor
							in $ctrl.Vendors">
					</select>
				</td>

				<td>
					<input
						ng-if="$ctrl.canEdit",
						type="text",
						ng-model="$ctrl.Invoice._id"/>
				</td>
			</tr>
		</tbody>
	</table>
</div>



<div class="well well-lg">
	<h3>Line Items:</h3>

	<table class="table table-hover">
		<!-- Headers -->
		<thead>
			<tr>
				<th>Category</th>
				<th>Hood</th>
				<th>Lot</th>
				<th>Activities</th>
				<th>Amount</th>
			</tr>
		</thead>

		<!-- Each line item -->
		<tbody>
			<tr ng-repeat="lineItem in $ctrl.Invoice.lineItems">
				<!-- Switch the line item type if can edit -->
				<td ng-if="$ctrl.canEdit" class="btn-group">
					<label class="btn btn-primary active">
						<input
							type="radio"
							ng-model="lineItem.category"
							value="CIP"
							ng-change="$ctrl.loadNewLineItem(lineItem)">
						CIP
					</label>

					<label class="btn btn-primary active">
						<input
							type="radio"
							ng-model="lineItem.category"
							value="EXPENSE"
							ng-change="$ctrl.loadNewLineItem(lineItem)">
						Expense 
					</label>

					<label class="btn btn-primary active">
						<input
							type="radio"
							ng-model="lineItem.category"
							value="WARRANTY"
							ng-change="$ctrl.loadNewLineItem(lineItem)">
						Warranty
					</label>
				</td>

				<!-- Expense -->
				<td ng-if="lineItem.category === 'EXPENSE'">
					<label>Expense:</label>
					<select
						ng-model="lineItem._expense"
						ng-options="expense._id as expense.name for expense in $ctrl.Expenses"
					></select>
				</td>

				<!-- Hood -->
				<td ng-if="lineItem.category !== 'EXPENSE'">
					<select
						ng-model = "lineItem._hood"
						ng-options = "hood._id
							as hood.name
							for hood
							in $ctrl.Hoods"
						ng-change = "lineItem.subHood = '';">
					</select>
				</td>

				<!-- Lot -->
				<td>
					<select
						ng-if = "lineItem.category !== 'EXPENSE'"",
						ng-model = "lineItem.subHood",
						ng-options = "subHoodOption for subHoodOption in $ctrl.getSubHoodOptions(lineItem)",
						ng-change = "
						lineItem._activities = [];">
					</select>
				</td>

				<!-- Activities -->
				<td>
					<!-- Existing -->
					<div ng-if="lineItem.category === 'CIP' &&
					            lineItem.subHood != ''">
						<button ng-click="$ctrl.addActivity(lineItem)">
							Add
						</button>

						<!-- Existing activities -->
						<div ng-repeat="_activity in lineItem._activities">
							<!-- code-->
							<select 
								ng-model = "_activity",
								ng-options = "activityOption._id
									as activityOption.code
									for activityOption
									in $ctrl.getActivityOptions(lineItem)">
							</select>

							<!-- desc -->					
							<select 
								ng-model = "_activity",
								ng-options = "activityOption._id
									as activityOption.desc
									for activityOption
									in $ctrl.sortByDesc($ctrl.getActivityOptions(lineItem))">
							</select>
						</div>
					</div>
				</td>

				<!-- Amount -->
				<td>
					$<input
						type="Text"
						ng-model="lineItem.amount"
						ng-change="$ctrl.updateTotal();"/>

					<button ng-click="$ctrl.evaluateAmount(lineItem)">
						Evaluate
					</button>
				</td>

				<!-- Delete button -->
				<td>
					<button
						ng-click="$ctrl.Invoice.lineItems.splice($index, 1);">
						X
					</button>
				</td>
			</tr>

			<!-- Adding a new line item -->
			<tr ng-if="$ctrl.canEdit">
				<td colspan="5">
					<button ng-click="$ctrl.addLineItem()">Add line item</button>
				</td>
			</tr>

			<!-- Extra line for total -->
			<tr>
				<td colspan="4" align="right"><b>Total:</b></td>
				<!-- This is so users don't see NaN and get confused -->
				<td>{{$ctrl.totalIsNaN() ? 'EVALUATE' : '$' + $ctrl.total}}</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- History -->
<div class="well well-lg" ng-if="!$ctrl.isNew">
	<h3>Invoice History:</h3>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th>User</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="action in $ctrl.Invoice.actions">
				<td>{{action.date}}</td>
				<td>{{action.desc}}</td>
				<td>{{action.user}}</td>
				<td>{{action.comment}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="$ctrl.canEdit" class="well well-lg"> <!-- Work around because 'in' syntax not recognized in angular directive-->
	<div ng-if="$ctrl.isNew">
		<p>Leave a comment as <b>{{$ctrl.CurrentUser.firstName}}</b> before submitting:</p><br>
		<textarea rows="4" cols="80" ng-model="$ctrl.Invoice.actions[0].comment"></textarea>
		<button class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.submit(true)">Submit and add another</button>
		<button class="btn btn-primary btn-lg btn-block" ng-click="$ctrl.submit(false)">Submit and go home</button>
	</div>

	<div ng-if="$ctrl.canReview">
		<p>Todo: if changer</p>
	</div>
</div>



