<div class="well well-lg">
	<h2>Welcome back, {{$ctrl.CurrentUser.firstName}}</h2>

	<div class="btn-group">
		<label class="btn btn-primary active">
			<input
				type="radio"
				ng-model="$ctrl.view"
				value="QUEUE",
				ng-change="$ctrl.updateInvList()"
				checked>
			My Queue
		</label>

		<label class="btn btn-primary active">
			<input
				type="radio"
				ng-model="$ctrl.view"
				value="TEAM",
				ng-change="$ctrl.updateInvList()">
			Team View
		</label>

		<label class="btn btn-primary active">
			<input
				type="radio"
				ng-model="$ctrl.view"
				value="ARCHIVE",
				ng-change="$ctrl.updateInvList()">
			Search Archives
		</label>
	</div>
</div>

<div class="well well-lg">
	<label>Filter by vendor:</label>
	<input type="text" ng-model="$ctrl.filterVendor">
</div>

<div class="well well-lg">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Received On</th>
				<th>Vendor</th>
				<th>Details</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody ng-repeat="invoice in $ctrl.invList">
			<tr ng-click="$ctrl.redirectInvoiceDetail(prettyInv._id)">
				<td>{{invoice.actions[0].date}}</td> <!-- [0] is always created -->
				<td>{{$ctrl.getVendorNameById(invoice._vendor)}}</td>
				<td>{{$ctrl.getDetailStr(invoice)}}</td>
				<td>{{invoice.amount}}</td>
			</tr>
		</tbody>
	</table>
<div>
