<h2>{{$ctrl.User.name + '\'s Dashboard'}}</h2>

<div>
	<label>Search vendor:</label>
	<input type="text" ng-model="$ctrl.searchVendor">
</div>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Vendor</th>
			<th>Hoods</th>
			<th>Lots</th>
		</tr>
	</thead>
	<tbody ng-repeat="invView in $ctrl.prettyPrintQueue | filter: { vendor: $ctrl.searchVendor }">
		<tr ng-click="$ctrl.showInvoice(invView._id)">
			<td>{{invView.vendor}}</td>
			<td>{{invView.hoods}}</td>
			<td>{{invView.subHoods}}</td>
		</tr>
	</tbody>
</table>