<div ng-include="'navbar.partial.html'"></div>

<h2>Welcome back, {{$ctrl.CurrentUser.firstName}}</h2>

<div class="well well-lg">

	<div class="btn-group">
		<label class="btn btn-primary active">
			<input
				type="radio"
				ng-model="$ctrl.view"
				value="QUEUE",
				ng-change="$ctrl.updateInvList()"
				checked>
			My Queue
		</label>

		<label class="btn btn-primary active">
			<input
				type="radio"
				ng-model="$ctrl.view"
				value="TEAM",
				ng-change="$ctrl.updateInvList()">
			Team View
		</label>

		<label class="btn btn-primary active">
			<input
				type="radio"
				ng-model="$ctrl.view"
				value="ARCHIVE",
				ng-change="$ctrl.updateInvList()">
			Archives
		</label>
	</div>
</div>

<div class="well well-lg">
	<label>Sort by:</label>

	<select 
		ng-model="$ctrl.currentSorter"
		ng-options='option.value 
					as option.desc
					for option
					in $ctrl.SORTOPTIONS'>
	</select>
</div>

<div class="well well-lg" ng-if="$ctrl.invList.length !== 0">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Received date</th>
				<th>Keyed date</th>
				<th>Service date</th>
				<th>Vendor</th>
				<th>Details</th>
				<th>Total</th>
			</tr>
		</thead>
		
		<tbody ng-repeat="invoice in $ctrl.invList | orderBy: $ctrl.currentSorter">
			<tr ng-click="$ctrl.redirectInvoiceDetail(invoice._id)">
				<td>{{invoice.actions[0].date | date}}</td> <!-- last is always received -->
				<td>{{invoice.actions[invoice.actions.length - 1].date | date}}</td> <!-- 0 is always created -->
				<td>{{invoice.serviceDate | date}}</td>
				<td>{{$ctrl.getNameById(invoice._vendor, 'Vendors')}}</td>
				<td>{{$ctrl.getDetailStr(invoice)}}</td>
				<td>{{(invoice.amount | currency) || 'Not entered'}}</td>
			</tr>
		</tbody>
	</table>
</div>

<h3 ng-if="$ctrl.invList.length === 0">Queue is empty!</h3>

