<form>
	<div>
		<label>Hood:</label>
		<select
			ng-model = "lineItem._hood"
			ng-options = "hood._id as hood.name for hood in $ctrl.Hoods"
			ng-change = "
				$ctrl.getSubHoodOptions(lineItem);
				lineItem.subHoods = [];
				$ctrl.validate();"
		></select>
	</div>

	<div>
		<label>Sub-hood:</label>

		<div>
			<input type="checkbox" ng-model="lineItem.unknown" ng-change="$ctrl.validate()"> Unknown<br>
		</div>

		<div ng-repeat="subHood in lineItem.subHoods" ng-if="!lineItem.unknown">
			<div>
				<p>{{subHood.name}}</p>
				<button ng-click="lineItem.subHoods.splice($index, 1); $ctrl.validate()">Remove</button>
			</div>
		</div>

		<div> 
			<select
				ng-model = "lineItem.addNewSubHood"
				ng-options = "subHoodOption for subHoodOption in lineItem.subHoodOptions"
				ng-model-options = "{ getterSetter: true }"
				ng-if = "!lineItem.unknown && lineItem._hood != ''"
				ng-change = "
					$ctrl.getSubHoodOptions(lineItem);
					$ctrl.validate();"
				></select>
		</div>
	</div>
</form>