<p>{{'Welcome, ' + $ctrl.User.firstName}}</p>

<h2>Create a new invoice</h2>

<form>
	<input type="file" accept="image/*,application/pdf"> <!-- TODO: Figure this out -->

	<div>
		<label>Service date:</label>
		<input type="date" ng-model="$ctrl.serviceDate" ng-change="$ctrl.validate()"/>
		{{$ctrl.validServiceDate()}}
	</div>

	<div>
		<label>Invoice #:</label>
		<input type="text" ng-model="$ctrl.invNum" ng-change="$ctrl.validate()"/>
		{{$ctrl.validInvNum()}}
	</div>

	<div>
		<label>Vendor:</label>
		<select ng-model="$ctrl._vendor" ng-options="vendor._id as vendor.name for vendor in $ctrl.Vendors" ng-change="$ctrl.validate()"></select>
	</div>

	<div>
		<label>Total:</label>
		$<input type="number" ng-model="$ctrl.total" ng-change="$ctrl.validate()"/>
	</div>

	<div ng-repeat="lineItem in $ctrl.lineItems">
		<div>
			<label>{{'Line item #' + ($index + 1) + ':'}}</label>

			<input type="radio" ng-model="lineItem.category" value="CIP" ng-change="$ctrl.loadNewLineItem(lineItem)">
			CIP 
			<input type="radio" ng-model="lineItem.category" value="EXPENSE" ng-change="$ctrl.loadNewLineItem(lineItem)">
			Expense 
			<input type="radio" ng-model="lineItem.category" value="WARRANTY" ng-change="$ctrl.loadNewLineItem(lineItem)">
			Warranty
		</div>

		<ng-include src="'components/invoice-creator/cipandwarranty.partial.html'" ng-if="lineItem.category == 'CIP' || lineItem.category == 'WARRANTY'"></ng-include>

		<ng-include src="'components/invoice-creator/expense.partial.html'" ng-if="lineItem.category == 'EXPENSE'"></ng-include>

		<div>
			<label>Amount:</label>
			$<input type="Number" ng-model="lineItem.amount" ng-change="$ctrl.validate()"/>
		</div>

		<button ng-click="$ctrl.lineItems.splice($index, 1); $ctrl.validate();"" ">Remove</button>
	</div>


	<div>
		<label>Add a new line item: </label>

		<input type="radio" ng-model="$ctrl.addNewLineItem" value="CIP" ng-model-options="{ getterSetter: true }" ng-change="$ctrl.validate()">
		CIP 
		<input type="radio" ng-model="$ctrl.addNewLineItem" value="EXPENSE" ng-model-options="{ getterSetter: true }" ng-change="$ctrl.validate()">
		Expense 
		<input type="radio" ng-model="$ctrl.addNewLineItem" value="WARRANTY" ng-model-options="{ getterSetter: true }" ng-change="$ctrl.validate()">
		Warranty 
	</div>

	<div>
		<label>Comment:</label>
		<textarea rows="4" cols="50" ng-model="$ctrl.comment" ng-change="$ctrl.validate()"></textarea>
	</div>

	<div>
		<button ng-click="$ctrl.submit(true)">Please sir may I have another</button>
		<button ng-click="$ctrl.submit(false)">Submit and go home</button>
	</div>

	<div>
		<ul>
			<li ng-repeat="error in $ctrl.errors">
				<p>{{error.type.toUpperCase() + ': ' + error.message}}</p>
			</li>
		</ul>
	</div>
</form>