<div ng-include="'navbar.partial.html'"></div>

 <div class="well well-lg">
    <div class="checkbox">
	    <label>
	    	<input type="checkbox" ng-model="oneAtATime">
	    	Open only one at a time
		</label>
	</div>
</div>

 <div>
 	<uib-accordion close-others="oneAtATime">
    	<div uib-accordion-group
    	     class="panel-default"
    		 heading="{{group.title}}"
    		 ng-repeat="group in $ctrl.groups">
    		 
    		 <div>
    		 	<!-- NOW ADD A NGINCLUDE TO EACH TEMPLATE!
    		 </div>
    	</div>
  	</uib-accordion>
</div>