<div ng-include="'navbar.partial.html'"></div>

 <div class="well well-lg">
    <div class="checkbox">
	    <label>
	    	<input type="checkbox" ng-model="oneAtATime">
	    	Open only one at a time
		</label>
	</div>
</div>

 <div>
 	<uib-accordion close-others="oneAtATime">
    	<div uib-accordion-group
    	     class="panel-default"
    		 heading="{{group.title}}"
    		 ng-repeat="group in $ctrl.groups"
    		 template-url="{{group.template}}">
    		 
      		<uib-accordion-heading>
        		Custom template with custom header template
        		<i class="pull-right glyphicon"
        		   ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}">
        		</i>
      		</uib-accordion-heading>
    	</div>
  	</uib-accordion>
</div>